{{>layout/header}}

        <!-- Header-->
        <header class="bg-white">
            <img class="card-img" src="https://gal.cdn.renderosity.com/images/image_2743297/7e11baaf4a94e34f4838fd96cfa6d32d_original.jpg?v=1492507146" alt="..."/>

            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder"> Art Auctions </h1>
                    <p class="lead fw-normal text-black-50 mb-0">Bid on paintings, prints, photographs and more by the world’s most sought-after artists.</p>
                </div>
            </div>

        </header>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- -->
                    {{#products}}
                    <div class="col mb-6">
                            <div class="card h-120">

                                <div  style=" cursor: pointer;" onclick="location.href='/product/{{id}}'">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{titleImg}}" alt="..." />

                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">

                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{productName}}</h5>

                                        <!-- Product price-->
                                        ${{price}}
                                    </div>
                                </div>
                                </div>

                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"> <a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a> </div>
                                </div>
                            </div>
                    </div>
                    {{/products}}



                </div>
            </div>
        </section>

{{>layout/footer}}
