{{>layout/header}}

        <link href="/css/products.css" rel="stylesheet" />

        <!-- Header-->
        <header class="bg-white">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder"> Art Auctions </h1>
                    <p class="lead fw-normal text-black-50 mb-0">Bid on paintings, prints, photographs and more by the world’s most sought-after artists.</p>
                </div>
            </div>

            <img class="card-img" src="https://gal.cdn.renderosity.com/images/image_2743297/7e11baaf4a94e34f4838fd96cfa6d32d_original.jpg?v=1492507146" alt="..."/>
        </header>

        <!-- Header-->
        <header class="bg-white">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h5 class="display-8"> Best Item Top 10 </h5>
                    <p class="lead fw-normal text-black-50 mb-0">List of most popular products</p>
                </div>
            </div>
        </header>


        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- -->
                    {{#products}}
                    <div class="col-md-4 col-sm-6">
                        <div class="product-grid8" style=" cursor: pointer;" onclick="location.href='/product/{{id}}'">
                            <div class="product-image8">
                                <a href="#">
                                    <img class="pic-1" src="{{titleImg}}">
                                    <img class="pic-2" src="{{titleImg}}">
                                </a>
                                <ul class="social">
                                    <li><a href="" class="fa fa-search"></a></li>
                                    <li><a href="" class="fa fa-shopping-bag"></a></li>
                                    <li><a href="" class="fa fa-shopping-cart"></a></li>
                                </ul>
                                <span class="product-discount-label">-20%</span>
                            </div>
                            <div class="product-content">
                                <div class="price">$ {{price}}
                                    <!-- <span>$ {{price}}</span> -->
                                </div>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                                <span class="product-shipping">Free Shipping</span>
                                <h3 class="title"><a href="#">{{productName}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{/products}}



                </div>
            </div>
        </section>

{{>layout/footer}}
