{{>layout/header}}

    <link href="/css/products.css" rel="stylesheet" />
    <link href="/css/productlist.css" rel="stylesheet" />

<section>
    <div class="container px-4 px-lg-5 mt-5">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <!-- 카테고리 자동으로 가져오게 구현 -->
                                            <option>Mark Rothko</option>
                                            <option>David Hockney</option>
                                            <option>Henri Matisse</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base" id="btn-searchProduct">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Section-->
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="product-list-container">

            <!-- -->
            {{#products}}
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid8" style=" cursor: pointer;" onclick="location.href='/product/{{id}}'">
                        <div class="product-image8">
                            <a href="#">
                                <img class="pic-1" src="{{titleImg}}">
                                <img class="pic-2" src="{{titleImg}}">
                            </a>
                            <span class="product-discount-label">-{{saleRate}}%</span>
                        </div>
                        <div class="product-content">
                            <div class="price">$ {{price}}
                                <!-- <span>$ {{price}}</span> -->
                            </div>

                            <div class='RatingStar'>
                                <div class='RatingScore'>
                                    <span class="rate-value" id="rate">{{rateAvg}}</span>
                                    <div class='outer-star'>
                                        <div class='inner-star'></div>
                                    </div>
                                </div>
                            </div>

                            <span class="product-shipping"> + ${{shippingCost}} Shipping</span>
                            <h3 class="title"><a href="#">{{productName}}</a></h3>
                        </div>
                    </div>
                </div>
            {{/products}}



        </div>
    </div>
</section>

<div class="container">
    <div class="row" style="padding-top:50px">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

            <span class="invisible", id="page-count">{{pageCount}}</span>
            <span class="invisible", id="current-page">{{currentPage}}</span>

            <div class="list-group list-group-horizontal" id="page-container">
            </div>

        </div>
    </div>
</div>

{{>layout/productListFooter}}
