{{>layout/header}}
    <link href="/css/products.css" rel="stylesheet" />
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img mb-5 mb-md-0" src="{{product.titleImg}}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{product.productName}}</h1>
                        <div class="fs-5 mb-5">
                            <!--   <span class="text-decoration-line-through"></span> -->
                            <span>${{product.price}} million</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">

                            <input class="form-control text-center me-3" id="product_id" type="num" value="{{product.id}}" style="max-width: 3rem" />
                            {{#user}}
                            <input class="form-control text-center me-3" id="user_id" type="num" value="{{user.id}}" style="max-width: 3rem" />
                            {{/user}}
                            <input class="form-control text-center me-3" id="product_count" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" id="btn-addCart">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- -->
                {{#relatedproducts}}
                    <div class="col-md-4 col-sm-6">
                        <div class="product-grid8" style=" cursor: pointer;" onclick="location.href='/product/{{id}}'">
                            <div class="product-image8">
                                <a href="#">
                                    <img class="pic-1" src="{{titleImg}}">
                                    <img class="pic-2" src="{{titleImg}}">
                                </a>
                                <ul class="social">
                                    <li><a href="" class="fa fa-search"></a></li>
                                    <li><a href="" class="fa fa-shopping-bag"></a></li>
                                    <li><a href="" class="fa fa-shopping-cart"></a></li>
                                </ul>
                                <span class="product-discount-label">-20%</span>
                            </div>
                            <div class="product-content">
                                <div class="price">$ {{price}}
                                    <!-- <span>$ {{price}}</span> -->
                                </div>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star disable"></li>
                                    <li class="fa fa-star disable"></li>
                                </ul>
                                <span class="product-shipping">Free Shipping</span>
                                <h3 class="title"><a href="#">{{productName}}</a></h3>
                            </div>
                        </div>
                    </div>
                {{/relatedproducts}}
                </div>
            </div>
        </section>
        
{{>layout/footer}}
